<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body,html{
            margin: 0;
            padding: 0;
            background-color: rgb(0, 78, 74);
        }
        .box404{
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .error{
            font-size: 100px;
            color: white;
            margin: 0;
        }
        .pnf{
            text-align: center;
            color: white;
        }
    </style>
</head>
<body>
    <div class="box404">
    <p class="error">404</p>
    <p class="pnf">page not found :(</p>
    </div>
</body>
</html>