<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/image/weather/water.png"/>
    <title>login</title>
    <link rel="stylesheet" href="/css/loginsignup.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script defer src="/js/login.js"></script>
</head>

<body>
    <div class="main">
        <div class="header">
            <div>
                <img src="/image/logo.png" alt="">
                <span>Greening Solutions</span>
            </div>
        </div>
        <div class="login">
            <div class="login-box">
                <div class="cred">
                    <p class="heading-log">Log In</p>
                    <form>
                        <input type="text" placeholder="E-mail or Username" name="" id="userId">
                        <input type="password" placeholder="Password" name="" id="password">
                    </form>
                    <div class="login-options">
                        <a  class="loginIcon" id="loginbutton">
                            <img src="/image/login-icon.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>